* {
  margin: 0;
  padding: 0;
}
/* html body */
body {
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: absolute;
  width: 100%;
}

nav {
  display: flex;
  background-color: crimson;
  height: 2.5rem;
  justify-content: space-around;
}

.nav-buttons {
  display: flex;
}

main {
  max-width: 1260px;
  margin: auto;
  padding-bottom: 2.5rem;
}

a {
  text-decoration: none;
}

/* properties container */
#properties-container {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
}

.property-card {
  width: 400px;
  margin: 10px;
  background-color: whitesmoke;
  border-radius: 10px;
}

.property-card:hover {
  cursor: pointer;
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}

.property-img img {
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.price {
  font-size: large;
  font-weight: bolder;
}

.property-card p {
  padding-left: 10px;
}

.property-card-footer {
  padding-left: 10px;
  padding-bottom: 5px;
}

.property-card-footer a:visited {
  color: black;
}

.property-card-footer a:hover {
  box-shadow: 0 3px 5px rgba(33, 33, 33, 0.2);
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  justify-content: center;
}

/* Modal Content/Box */
.modal-content {
  min-width: 240px;
  max-width: 240px;
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 20%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.a-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.a-close:hover,
.a-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.d-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.d-close:hover,
.d-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.listing-form input {
  display: flex;
  width: 175px;
  padding-bottom: 5px;
  margin: 5px;
}

.delete-listing-form input {
  display: flex;
  width: 175px;
  padding-bottom: 5px;
  margin: 5px;
}
